body{
    display: grid;
    place-items: center;
    width: 100%;
    color: #000000;
    background-color: #c4bfbf;
    font-family: 'Sedgwick Ave', cursive;
    font-weight: bold;
    font-size: 20px;
}


.simon{
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

.button-container{
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
    
}


        /*SIMON Y EFECTOS */


.cuadro{
    border-radius: 5px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.cuadro:active,
.active{
    filter: brightness(75%);
}

   /* COLOR DE BOTONES */

.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}

.amarillo{
    background-color: yellow;
}

.verde{
    background-color: green;
}

/*BOTON START*/

#start-button{
    width: 75px;
    position: absolute;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    background-color: #483fc9a9 ;
    padding: 5px;
    top: 5px;
    right: 5px;
}

#start-button:disabled{
    background-color: #eee
}

.title{
    width: min-content;
}

.winner{
    animation: spin 3s ease-in-out;
}

@keyframes spin{
    100% {transform:rotate(180deg)} }

#round{
    position: absolute;
    top: 350px;
    width: max-content;
}    